h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 1rem;
}

@mixin transition-250 {
  transition: 0.25s all linear;
}
@mixin shadow-out {
  box-shadow: 0 4px 4px -2px rgba(#000, 0.3);
}
@mixin shadow-in {
  box-shadow: 0 1px 4px rgba(#000, 0.3) inset;
}
@mixin shadow-none {
  box-shadow: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($grey, 0.75);
  z-index: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay-body {
    position: relative;
    z-index: 1;
  }
}
