.main-content {
  position: relative;
  width: 100%;
  margin-top: $nav-height;
  margin-left: $sidebar-width;
}

.task-from {
  max-width: 100%;
  width: 600px;
  border: 1px solid $grey;
  padding: 1rem;
  background-color: $bg-body;
  @include shadow-out;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($grey, 0.5);
  z-index: 1005;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay-body {
    position: relative;
    z-index: 1;
  }
}
