.main-content {
  position: relative;
  width: 100%;
  margin-top: $nav-height;
  margin-left: $sidebar-width;
}

.task-from {
  max-width: 100%;
  width: 600px;
  border: 1px solid $grey;
  padding: 1rem;
  background-color: $bg-body;
  @include shadow-out;
}
