// main scss file
// not much css right now.
// if css increases more than 100 lines, it will be divided in multiple files and importerd here

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

.btn:disabled {
  cursor: not-allowed;
}

.w-600 {
  width: 600px;
  max-width: 90%;
}

.scroll-list {
  // max-height: calc(100vh - 100px);
  overflow-y: auto;
  .scroll-list-title {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.8);
  z-index: 99;
}

.card,
.form-control,
.btn,
.btn-group > .btn,
.list-group-item:nth-child(n) {
  border-radius: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.8);
  z-index: 99;
  justify-content: center;
  padding-top: 80px;
  // display: none;
}

.fab-wrapper {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  .fab-btn {
    padding: 0;
    height: 48px;
    width: 48px;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
  }
  @media (min-width: 768px) {
    bottom: 2rem;
    right: 2rem;
    .fab-btn {
      height: 56px;
      width: 56px;
    }
  }
}
