// main scss file
// not much css right now.
// if css increases more than 100 lines, it will be divided in multiple files and importerd here

// html,
// body {
//   font-size: 14px;
// }

.btn:disabled {
  cursor: not-allowed;
}

.container {
  &.w-600 {
    width: 600px;
    max-width: 100%;
  }
}

.scroll-list {
  // max-height: calc(100vh - 100px);
  overflow-y: auto;
  .scroll-list-title {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.8);
  z-index: 99;
}
