// main scss file
// not much css right now.
// if css increases more than 100 lines, it will be divided in multiple files and importerd here

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
}

.btn:disabled {
  cursor: not-allowed;
}

.container {
  &.w-600 {
    width: 600px;
    max-width: 100%;
  }
}

.scroll-list {
  // max-height: calc(100vh - 100px);
  overflow-y: auto;
  .scroll-list-title {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#fff, 0.8);
  z-index: 99;
}

.card,
.form-control,
.btn,
.btn-group > .btn,
.list-group-item:nth-child(n) {
  border-radius: 0;
}
