.App {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@import "./styles/bootstrap-grid.min.css";

@import "./styles/variables";

@import "./styles/includes";

@import "./styles/elements";

@import "./styles/components";
