* {
  box-sizing: border-box;
  outline: none;
}
.App {
  /* text-align: center; */
  max-width: 100%;
  margin: 10px auto;
  padding: 1rem;
  .link {
    color: #61dafb;
  }
}

input:not([type="radio"]):not([type="checkbox"]),
textarea,
select {
  color: inherit;
  font-family: inherit;
  font-size: 0.9rem;
  background-color: rgba(#ddd, 0.25);
  border: 1px solid rgba(#ddd, 0.5);
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  &:focus {
    border: 1px solid teal;
  }
}

textarea {
  resize: none;
}

button,
input[type="submit"],
.btn {
  font-family: inherit;
  padding: 0.5rem 1rem;
  min-width: 6.25rem;
  display: inline-block;
  background-color: #ddd;
  border: 1px solid transparent;
  &:hover {
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  }
  &:focus {
    // background-color: #ccc;
    // border: 1px solid teal;
    outline: none;
  }
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}
